astropy
numpy
pandas
pyyaml >= 5.1
sqlalchemy
git+https://github.com/lsst/felis@main#egg=lsst-felis
git+https://github.com/lsst/pex_config@main#egg=lsst-pex-config
git+https://github.com/lsst/sphgeom@main#egg=lsst-sphgeom
git+https://github.com/lsst/utils@main#egg=lsst-utils
