astropy
numpy < 2.0
pandas
pydantic
pyyaml >= 5.1
sqlalchemy
lsst-utils @ git+https://github.com/lsst/utils@main
lsst-resources[s3] @ git+https://github.com/lsst/resources@main
lsst-sphgeom @ git+https://github.com/lsst/sphgeom@main
lsst-felis @ git+https://github.com/lsst/felis@main
lsst-pex-config @ git+https://github.com/lsst/pex_config@main
